/* Overall Container */
.container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Navbar Styles */
  .navbar {
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
  }
  #predicted-price
{
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 150%;
    text-align: center;
    color: black;
}
 #predicted-price span{
  color: red;
  font-size: 120%;
}
  .navbar h1 {
    margin: 0;
  }
  
  /* Card Styles */
  .cards {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin: 20px 0;
  }
  .card img {
    height: 150px; /* Set a fixed height */
    width: 100%; /* Make the image responsive */
    object-fit: cover; /* Maintain aspect ratio and cover the space */
  }
  .card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    height: 220px;
    width: 220px;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    max-width: 100%;
    border-radius: 5px;
  }
  
  /* Prediction Section */
  .prediction {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #4a90e2;
  }
  
  /* Chart Section */
  .chart-section {
    margin: 60px 0;
  }
  
  .chart-section canvas {
    max-width: 100%;
    height: auto;
  }
  
  /* Details Section */
  .details-section {
    margin: 20px 0;
  }
  
  .details-table {
    width: 100%;
    margin-top: 150px;
    border-collapse: collapse;
  }
  
  .details-table th, .details-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .details-table th {
    background-color: #373b40;
    color: white;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .cards {
      grid-template-columns: 1fr; /* Stack cards vertically on small screens */
    }
  
    .details-table {
      font-size: 14px; /* Reduce font size on smaller screens */
    }
  }
  