.header{
    height: 34vw;
    
    margin: 30px auto;
    background: url('../assets/imgmain.jpeg') no-repeat;
    background-size: 1200px 540px;
    position: relative;
    border-radius: 20px;
}
.header-image {
    width: 100%; /* Adjust this to desired width */
    height: auto; /* Maintains aspect ratio */
    max-height: 540px; /* Set a maximum height */
    border-radius: 20px; /* If you want rounded corners */
    object-fit: cover; /* Ensures the image covers the area without stretching */
}
.bordered-text {
    color: white; /* Text color */
    text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000;
         background: rgba(0, 0, 0, 0.6); /* Transparent black background */
    padding: 20px; /* Adds space around the text */
    border-radius: 15px; /* Curved corners */
    display: inline-block; /* Ensure the background wraps around the text */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4); /* Adds a subtle shadow for depth */
    margin: 20px;
    margin-left: 10px;
    transition: transform 0.3s ease; /* Smooth hover effect */
}
.bordered-text:hover {
    transform: scale(1.05); /* Slightly enlarges the text block on hover */
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.6); /* Deepens the shadow on hover */
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
}

.header-contents p{
    color: white;
    font-size: 1vw;
}

.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
}

.header-contents button:hover{
    background-color: #fff4f2;
}

@media (max-width:1050px){
    
    .header-contents{
        max-width: 45%;
    }
    
}

@media (max-width:750px){
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}